<nav class="footer navbar navbar-dark bg-dark">
    <div class="row">
    <div class="footer-left col">
    <h2>Contact</h2>
    Baasrodestraat 112</br>
    1750 lennik</br>
    Oost-Vlaanderen</br>
    +32 474 66 98 58</br>
    info@anti.be</br>
    </div>
    </div>
    <div class="row">
    <div class="col social">
        <p>Follow us on social media!</p>
       <a href="www.facebook.com"><img src="img/soc1.png"></a>
       <a href="www.twitter.com"><img src="img/soc2.png"></a>
       <a href="www.instagram.com"><img src="img/soc3.png"></a>
       <a href="www.pinterest.com"><img src="img/soc4.png"></a>
       <a href="www.googleplus.com"><img src="img/soc5.png"></a>
    </div>
    </div>
</nav>